
  <div class="container">
    <div class="content">

    <h4 class="fonts"><%= t('you_have_kept')%>&nbsp;<%= @keeps.count %>&nbsp;<%= t('job_here')%></h4>
    <% @keeps.each do |keep| %>
    <% @post = keep.post %>
    <%= render 'posts/post_index' , post: @post %>
    <% end %>
  </div>
</div>
