// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  border-box: box-sizing;
}

body {
    background-color: rgb(53, 54, 58)
}

.container.bg-white.pb-5 {
    margin-top: 64px;
}

h1, h2 {
  font-family: 'Frijole', cursive;
  color: rgb(93, 28, 139);
}

p {
  color: black;
}


@media(max-width:567px) {
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
}
