
<% if current_user.kind == nil || current_user.kind == "" %>

<div class="content">
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      <%= t('choose') %>
    </button>
  </div>
</div>

<%= render 'shared/modal' %>

<% elsif current_user.kind == "Usuário" %>

  <%= render 'users/user_profile' %>

<% else %>

  <%= render 'users/company_profile' %>

</div>
<% end %>

