<div class="footer">
    Desenvolvido para a comunidade brasileira no Japão!
    Já somos <%= pluralize(User.count, 'Usuário') %>
    Aplicação desenvolvida para agregar todas as vagas de emprego disponíveis no Japão.
    Obrigado a todos que se cadastraram! Mande um email para contato@usuarioincomum.com se vc tiver alguma sugestão.
</div>




