<div class="footer-dark">
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 item">
              <h3>About Us</h3>
              <p>Desenvolvido para a comunidade brasileira no Japão! Já somos <%= pluralize(User.count, 'Usuário') %>
              Aplicação desenvolvida para agregar todas as vagas de emprego disponíveis no Japão.Obrigado a todos que se cadastraram! Mande um email para contato@usuarioincomum.com se vc tiver alguma sugestão.</p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 item">
                <h3>Links</h3>
                <ul>
                  <li><a href="#">Job Search</a></li>
                  <li><a href="#">Job Posting</a></li>
                  <li><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6 item text">
            <form>
              <fieldset class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </fieldset>
              <fieldset class="form-group">
                  <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
              </fieldset>
              <fieldset class="form-group text-xs-right">
                  <button type="button" class="btn-border-white btn-lg">Send</button>
              </fieldset>
            </form>

            </div>
            <div class="col item social">
              <a href="https://www.facebook.com/u.incomum", target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/CYasumitsu", target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.youtube.com/channel/UCSy4sAi5QDUV8TUuR09TqXw", target="_blank"><i class="fab fa-youtube"></i></a>
              <a href="https://www.instagram.com/u.incomum/", target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <p class="copyright">© 2021 Usuário Incomum All Rights Reserved</p>
  </footer>
</div>
