<%= simple_form_for :search, url: posts_path, method: :get do |f| %>
<div class="search-form-control form-group w-100">
  <input class="form-control string required" type="text" name="search" value="<%=@search%>" id="search" placeholder="<%= "#{t('keyword')}" %>" />
  <button name="button" type="submit" value="submit"  class="btn btn-purple">
    <i class="fas fa-search"></i><%= t('search') %>
  </button>
</div>
<% end %>

