<%= simple_form_for :search, url: posts_path, method: :get do |f| %>
<div class="search-form-control form-group d-flex align-items-center w-100">
  <input class="form-control string required mr-1" type="text" name="search" value="<%=@search%>" id="search" placeholder="Keyword" />
  <button name="button" type="submit" value="submit"  class="btn btn-purple">
   <i class="fas fa-search"></i>
 </button>
</div>
<% end %>


