<h5 class="fonts"><%= t('Most_Popular_Company_Posting')%></h5>
<% @posts.each do |post| %>
  <%= render 'posts/post_index' , post: post %>
<% end %>

<%=link_to t('See More'),posts_path, class:"btn-purple pt-2 pb-2" %>
