User Comments
<div class="row justify-content-around">
    <% @posts.shuffle.each do |post| %>
    <% if post.company == nil %>
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.contact %> <br> <%= simple_format post.note %></p>
        <% if user_signed_in? %>
          <% if current_user.id == post.user_id %>
            <%= link_to "Apagar", post_path(post),
            method: :delete,
            data: { confirm: 'Tem certeza?' },
            class: 'btn btn-outline-danger btn-sm' %>
          <% else %>
          <% end %>
        <% else %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
</div>
