 <%= render 'shared/navbar' %>
 <div class="text-center p-5">
  <h1>Em desenvolvimento para a comunidade brasileira no Japão!</h1>
  <h1>In development for the Brazilian community in Japan!</h1>
  <h3>Obrigado a todos que se cadastraram! Mande um email pra mim se vc tiver alguma sugestão!</h3>
  <h3>Não sabia que tinha tanta gente cadastrada, vou me empenhar em desenvolver o quanto antes essa aplicação!</h3>
</div>
