<div class="d-flex flex-column">
  <div class="banner">
    <div class="text-center">
      <h1 class="fonts"><%= t('Find your dream Job here!')%></h1>
      <%= render 'shared/main_search_bar' %>
    </div>
  </div>
  <div class="content">
    <div class="text-center">
      <%= render 'latest_jobpost' %>
     </div>
  </div>
</div>



