 <%= render 'shared/navbar' %>
 <div class="text-center p-5">
  <h1>Em desenvolvimento para a comunidade brasileira no Japão!</h1>
  <h1>In development for the Brazilian community in Japan!</h1>
</div>
