<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel"> <%= t('Thanks for sharing to your friends') %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <!-- vue clipboard component -->
      <clipboard url="https://www.usuarioincomum.com/posts/<%= post.id %>"></clipboard>
       <!-- share component -->
      <sharethis url="https://www.usuarioincomum.com/posts/<%= post.id %>"></sharethis>
      </div>
    </div>
  </div>
</div>
