.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  p {
    color: white;
    margin-left: 12px;
  }
  text-align: left;
}

@media(max-width:567px) {
  .footer {
    background-color: rgb(53, 54, 58);
  }
}
