.c-login {
  border-radius: 8px;
  box-shadow: 2px 2px 4px #231933;
  margin-top: 10%;
  background-color: white;
}
.login-page {
  background-color: #563e7c;
  border-radius: 8px 0 0 8px;
}
.login {
  padding: 60px 60px 60px 60px;
}
