.navbar-usuario {
  justify-content: space-between;
  background: white;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, -0.24), 0 6px 8px 0 rgba(0, 0, 0, 0.01);
}

.navbar-usuario .navbar-collapse {
  flex-grow: 0;
}

.navbar-usuario .small-logo img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #67008B;
  opacity:0.6;
  &:hover {
  opacity:1;
  text-decoration: none;
  color:#67008B;
  }
}

